REGION_NAME=your_aws_region_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
S3_BUCKET_NAME=your_raw_video_bucket_name_here
S3_KEY=your_raw_video_key_path_here
S3_PROCESSED_VIDEOS_BUCKET=your_processed_video_bucket_name_here
BACKEND_URL=your_backend_url_here
