COGNITO_CLIENT_KEY=your_cognito_client_key_here
COGNITO_SECRET_CLIENT_KEY=your_cognito_secret_client_key_here
REGION_NAME=your_aws_region_here
POSTGRES_URL=postgresql://user:password@localhost:5432/yourdatabase
AWS_RAW_VIDEO_BUCKET=your_raw_video_bucket_name_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_RAW_VIDEO_THUMBNAIL_BUCKET=your_raw_video_thumbnail_bucket_name_here
