# This is a sample environment file.
# Currently, you must swap out the hardcoded IP addresses inside frontend service files 
# (e.g. `lib/services/upload_video_service.dart`) but introducing `flutter_dotenv` 
# in the future will allow you to read these securely at runtime.

API_BASE_URL=http://localhost:8000
# API_BASE_URL=http://192.168.1.X:8000 # for physical device testing
