REGION_NAME=your_aws_region_here
AWS_SQS_VIDEO_PROCESSING_QUEUE_URL=https://sqs.your-region.amazonaws.com/123456789012/your-queue-name
ECS_CLUSTER_ARN=arn:aws:ecs:your-region:123456789012:cluster/your-cluster-name
ECS_TASK_DEFINETION=arn:aws:ecs:your-region:123456789012:task-definition/your-task-def-family:revision
